{% extends "layout.html" %}

{% block content %}
  <h2 class="mb-1">Userpage {{user.username}}</h2>
  <h5 class="mb-3">Last seen on {{user.last_seen.strftime('%d-%m-%Y at %H:%M')}}</h5>
  <h5 class="mb-3">{{posts.total}} post(s) total</h5>
    <div class="article-metadata mb-4">
      <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{{ url_for('user', username=user.username)}}">{{ user.username }}</a>
          </div>
          <h2 class="article-title">About me</h2>
          {% if user.aboutme %}
          <p class="article-content">{{ user.aboutme }}</p>
          {% else %}
          <p class="article-content">Tell about yourself on your <a href="{{ url_for('account')}}">Account</a> page</p>
          {% endif %}
        </div>
      </article>
    </div>
  {% for post in posts.items %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{{ url_for('user', username=post.author.username)}}">{{ post.author.username }}</a>
          <small class="text-muted">{{ post.date_posted.strftime('%d-%m-%Y @ %H:%M') }}</small>
        </div>
        <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
      </div>
    </article>
  {% endfor %}
  {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
      {% if posts.page == page_num %}
        <a class="btn btn-info mb-4" href="{{ url_for('user', username=user.username, page=page_num) }}">{{ page_num }}</a>
      {% else %}
        <a class="btn btn-outline-info mb-4" href="{{ url_for('user', username=user.username, page=page_num) }}">{{ page_num }}</a>
      {% endif %}

    {% else %}
      ...
    {% endif %}
  {% endfor %}
{% endblock content %}
